@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/iranyekan');


                

@layer base {
  @font-face {
    font-family:"iranyekan" ;
    src: url('https://fonts.cdnfonts.com/css/iranyekan');
  }
 
  a{
    color:#1d9399
  }
  body{
    overflow-x: hidden;
    direction: rtl;
    @apply flex justify-center items-center box-border p-0 max-w-[700px] m-auto bg-gray-500 
  }
 }